@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-style: normal;
}

.head{
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 600px;
    position: fixed;
}

.hero{
    text-decoration: none;
    color: white;
}
.abt{
    text-decoration: none;
    color: white;
}

.skl{
    text-decoration: none;
    color: white;
}

.proj{
    text-decoration: none;
    color: white;
}

.touch{
    text-decoration: none;
    color: white;
}
.head2{
    justify-items: space-around;
}
.head2 ul{
    list-style: none;
    color: white;
    display: flex;
    gap: 70px;
    font-size: large;
    font-weight: 500;
}

#hero{
    background-image:url(images/me\ hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 478px;
    padding-top: 300px;
    padding-left: 1080px;
    h1{
        font-weight: 600;
        font-size: xx-large;
        padding-bottom: 30px;
    }

}

.but1{
    background-color: #265AF7;
    border: none;
    border-radius: 10px;
    width: 100px;
    font-size: larger;
    font-weight: 600;
    padding: 7px;
    margin-top: 20px;
    cursor: pointer;

}

.span{
    color: #265AF7;
    font-weight: 600;
    font-size: xx-large;
}

#aboutme{
   justify-items: center;
   p{
    width: 90%;
    text-align: center;
   }
}

.pic{
    display: flex;
    align-items: center;
    gap: 200px;
    padding: 50px;
}

.about{
    font-weight: 700;
    padding: 30px 20px;
    font-size: xx-large;
}
.violet{
    color: #B03BF9;
    font-weight: 700;
}

.detail{
    h5{
        font-size: larger;
        font-weight: 600;
        padding-bottom: 30px;
    }
}

.but2{
    background-color: #265AF7;
    border: none;
    border-radius: 10px;
    width: 200px;
    font-size: larger;
    font-weight: 600;
    padding: 9px;
    margin-top: 20px;
    align-items: center;
    cursor: pointer;

}

#skills{
    background-color: rgb(211, 211, 211);
    width: 100%;
    justify-items: center;
    margin-top: 50px;
}

.images{
    display: flex;
    gap: 100px;
    align-items: center;
}

.v2{
   color: #B03BF9;
   font-weight: 700;
   padding: 30px 20px;
   font-size: xx-large;
}

#prj{
    justify-items: center;
}

.prj2{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 150px;
    font-size: x-large;
    font-weight: 600;
    padding: 30px 30px;
}

.data{
    display: flex;
    gap: 100px;
}

#get{
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
    h1{
        font-size: xx-large;
        font-weight: 700;
    }
}

.boxx{
    display:flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.contact1{
    border: none;
    height: 25px;
    background-color: rgb(211, 211, 211);
    text-align:center;
    box-shadow:gray;
    width: 200px;
    margin-top: 20px;

}

.contact2{
    border: none;
    height: 25px;
    background-color: rgb(211, 211, 211);
    text-align:center;
    box-shadow:gray;
    width: 200px;
    
}

.contact3{
    border: none;
    height: 25px;
    background-color: rgb(211, 211, 211);
    text-align:center;
    box-shadow:gray;
    width: 200px;
    
}

.message{
    border: none;
    height: 85px;
    width: 200px;
    background-color: rgb(211, 211, 211);
    text-align: center;
    box-shadow:gray;
}

.foot{
    background-color: black;
    text-align: center;
    padding-top: 20px;
    h1{
        color: #265AF7;
        padding: 20px 20px;
    }
    h3{
        color: rgb(151, 149, 149);
        padding: 20px 20px;
    }
}

.but3{
    background-color: #265AF7;
    border: none;
    border-radius: 10px;
    width: 100px;
    font-size: larger;
    font-weight: 600;
    padding: 7px;
    margin-top: 20px;
    cursor: pointer;

}
